/* Global */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: #777;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #121212;
}

/* Counter Coumponent */
.button {
  font-size: 28px;
  margin: 10px;
  width: 60px;
  border-radius: 20px;
  background: #333;
  font-size: 64px;
  border: none;
  color: #fff;
}

button:focus {
  outline: none !important;
}

/* Blog Component */
/* Header */
header {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  background: #ddd;

  .container {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 980px;
    position: relative;

    .logo {
      display: block;
      width: 250px;
      padding: 20px 10px;

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }
  }
}

/* Headline */
.main {
  width: 100%;
  max-width: 980px;
  margin: 20px auto 80px;
  padding: 0 10px;
}

/* Button */
.btn {
  background: blue;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
}
